/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-feb-2017, 16.03.14
    Author     : tss
*/
/*-----stile pagina-----*/
body{background-image: url(back2.jpg)}

#container {width: 800px ;
            border: 10px #57b0e9 solid;
            margin: 0 auto;
            height: 860px;
            margin-top: 30px;
            background-color: #87c7f1;
}

#cocontainer {
    margin: 0 auto;
    margin-top: 10px;
    width: 760px;
    height: 820px;
    border: 10px #a0cfee solid;
    background-color: #c4e0f2
}

#containerF {
    margin: 0 auto;
    margin-top: 10px;
    width: 720px;
    height: 780px;
    border: 10px #d4e6f2 solid ;
    background-color: #edf4f8
}

/*---fine stile pagina*/

/*-------------------------------------------------------------------------*/

/*---logo pagina + head*/
#head {
    width: 700px;
    margin: 0 auto;
    margin-top: 45px;
    height: 50;
    border: 1px solid black
}

#logo {
    width: 210; height: 30;
    background-image: url(logo.png);
    background-size: 210px 30px;
    margin-top: 10px;
}

/*--- fine logo pagina+head*/

/*-------------------------------------------------------------------------*/

/*----menu di collegamento top----*/
#sceltaTop{
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
    height: 30px;
    /*border: 1px solid black*/
}

.scelta{
    margin-left: 100px;
    height: 30px;
    border: 1px solid black;
    width: 100px;

}

#scelta1 {
    border-right: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 30px

}

#scelta2 {
    border-right: 0px;
    position: absolute;
    top: 0px;
    left: 100;
    text-align: center;
    line-height: 30px
}

#scelta3 {
    border-right: 0px;
    position: absolute;
    top: 0px;
    left: 200;
    text-align: center;
    line-height: 30px
}
#scelta4 {
    border-right: 0px;
    position: absolute;
    top: 0px;
    left: 300;
    text-align: center;
    line-height: 30px
}
#scelta5 {
    position: absolute;
    top: 0px;
    left: 400;
    text-align: center;
    line-height: 30px
}

/*----- fine menu di collegamento top------*/


/*-------------------------------------------------------------------------*/

/*------ Testo lft  + contaier body----*/

#containerBODY{
    left: 10px;
    position: relative;
    width: 700px;
    height: auto;
    margin-top: 55px;
    border: 1px solid black


}

#containerTXT {
    font-size: 13px;
    border-right: 1px solid black;
    width: 350px;
    height: 400px;
    padding-right: 10px;
    padding-left: 10px
}


/*--- fine testo lft ----*/

/*-------------------------------------------------------------------------*/

/*-----immagini+link html css js-----*/

#info{  position: relative;
        top: -350px;
        left: 115px;
        font-size:11px
}

#info1{  position: relative;
         top: -315px;
         left: 115px;
         font-size:11px
}

#info2{  position: relative;
         top: -265px;
         left: 115px;
         font-size:11px
}


#containerIMG{
    position: absolute;
    top: 0px;
    left: 440px;
    width: 100;
    height: 400px;

}

#html {
    margin-top: 20px;
    width: 100;
    height: 100;
    background-image: url(htm5.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: 1px solid black;   

}

#css {
    margin-top: 25px;
    width: 100;
    height: 100;
    background-image: url(css.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: 1px solid black;  

}

#js {
    margin-top: 25px;
    width: 100;
    height: 100;
    background-image: url(js.png);
    background-repeat: no-repeat;
    background-size: 100px 100px;
    border: 1px solid black;  

}

/*----- fine immagini+link html css js-----*/

/*-------------------------------------------------------------------------*/


/*----- footer ----*/


#containerFooter{
    border: 1px solid black;
    position: relative;
    top: 80px;
    width: 700px;
     margin: 0 auto;
}
#footerTXT{
    
    margin: 0 auto;
    width: 700px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin-left:  10px
    
}

#ciac{
    float: right;
    margin-right: 20px
}

#ghiglieno{
    margin: 0 auto;
    width: 700px;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    margin-left: 10px
}
/*---- fine footer---*/



